<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <clear />
        <add key="msgBufferSize" value="5" />
    </appSettings>

    <connectionStrings>
        <add name="conStr" connectionString="Data Source=SRVDESA;Initial Catalog=SignalRdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>


    <system.web>
        <customErrors mode="Off" />

        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" executionTimeout="240" maxRequestLength="2048000" />

        <pages>
            <controls>
                <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>